django
python-dotenv
django-allauth
psycopg2
requests
djangorestframework
pylint-django
python-dateutil
sendgrid
drf-nested-routers
pillow
cloudinary
django-cloudinary-storage
psycopg2-binary
django-allauth-ui
django-widget-tweaks